<?xml version="1.0"?>

<launch>
  
  <include file="$(find dbw_mkz_gazebo)/launch/dbw_mkz_gazebo.launch" >
    <arg name="use_camera_control" value="false" />
    <arg name="world_name" value="$(find dbw_runner)/worlds/straight_track_150m.world" />
    <arg name="sim_param_file" value="$(find dbw_runner)/yaml/round_track.yaml" />
  </include>
  
  <include file="$(find dbw_mkz_can)/launch/dbw.launch" >
    <arg name="live" value="false" />
    <arg name="load_urdf" value="false" />
    <arg name="can_ns" value="can_bus_dbw" />
  </include>

</launch>
